<div id="comments">
  <% @history.comments.each do |comment| %>
    <br> <%= link_to comment.user.email, comment.user if comment.user.present?  %></br>
    <br> <%= link_to comment.mention, comment %></br>
  <% end %>
</div>
